.action-icon {
  cursor: pointer;
}

.mat-list-item {
  cursor: pointer;
  background-color: white;
  border: 1px solid #e5e5e5;
  &:hover {
    background-color: #f3f3f3;
  }
}

.table-jobs {
  width: 100%;
}

.mat-row:hover {
  background-color: #f3f3f3;
}
