.migration-config-container .form-inputs-container {
  display: flex;
  flex-direction: column;
}

.buttons-row {
  display: flex;
  justify-content: flex-end;
  margin: 20px 0;
}

.buttons-row > button {
 margin-left: 15px;
}
