<div class="job-list">
  <h2>Liste des derniers jobs terminés</h2>
  <p>nombre: {{ jobList.length }}</p>
  <div *ngIf="jobList.length > 0; else noJobs">
    <ul *ngFor="let job of jobList">
      <li>{{ job.name }}</li>
      <div
            class="job--output-container"
            *ngFor="let notification of job.jobNotifications"
          >
            <p>{{ notification }}</p>
          </div>
      <ul *ngFor="let execution of job.jobExecutions">
        <div class="job-execution-item">
          <h2>{{ execution.jobExecutionId }}</h2>
          <div
            class="job-execution-output-container"
            *ngFor="let output of execution.output"
          >
            <p>{{ output.notification }}</p>
          </div>
        </div>
      </ul>
    </ul>
  </div>
</div>
<ng-template #noJobs><p class="mat-subheading-2">Aucun job terminés recement.</p></ng-template>
